---
layout: default
---

<section id="index">

    <div id="intro" class="typewriter display-4 mb-5">
        Hi,<br>
        <h1 class="typewriter-text display-4 text-short">I'm {{ site.author.name|truncatewords:1|replace:'...','' }}.</h1>
    </div>

    {% for post in paginator.posts %}
        <div class="mb-5">
            <h2 class="mb-0">
                <a href="{{ post.url|relative_url }}" title="{{ post.title }}">
                    {{ post.title }}
                </a>
            </h2>
            <time datetime="{{ post.date|date_to_xmlschema }}" class="small">
                <code class="text-muted font-italic">// {{ post.date|date:"%Y-%m-%d" }}</code>
            </time>
            <p>
                {{ post.excerpt }}
                <a href="{{ post.url|relative_url }}" title="{{ post.title }}">Continue reading <i class="fas fa-angle-double-right"></i></a>
            </p>
        </div>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div class="pagination mt-5 text-muted">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">
                    <i class="fas fa-angle-double-left fa-fw"></i>
                </a>
            {% endif %}
            <span class="page_number">
                Page {{ paginator.page }} of {{ paginator.total_pages }}
            </span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">
                    <i class="fas fa-angle-double-right fa-fw"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}

</section>