<footer id="footer">
    <div class="container">
        <p>
            <span class="h4">{{ site.title }}</span><br>
            <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        </p>
        <ul class="list-inline">
            {% if site.social.github %}
                <li>
                    <a href="https://github.com/{{ site.social.github }}" target="_blank"><i class="fab fa-github-square fa-fw fa-2x"></i></a>
                </li>
            {% endif %}
            {% if site.social.linkedin %}
                <li>
                    <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank"><i class="fab fa-linkedin fa-fw fa-2x"></i></a>
                </li>
            {% endif %}
            {% if site.social.facebook %}
                <li>
                    <a href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank"><i class="fab fa-facebook-square fa-fw fa-2x"></i></a>
                </li>
            {% endif %}
            {% if site.social.email %}
                <li>
                    <a href="mailto:{{ site.social.email }}"><i class="fas fa-envelope-square fa-fw fa-2x"></i></a>
                </li>
            {% endif %}
        </ul>
        <small>@ {{ 'now' | date: "%Y" }} {{ site.author.name }}</small>
    </div>
</footer>