<header id="header">

    <div>
        <a href="{{ "/"|relative_url }}" title="{{ site.title }}">
            <img src="{{ "/img/alex.png"|relative_url }}" alt="{{ site.description }}" title="{{ site.title }}">
        </a>
    </div>

    {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% if page.date %}
            <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">
                {{ page.date|date_to_string }}
            </time>
        {% else if page.description %}
            <div class="by-line">{{ page.description }}</div>
        {% endif %}
    {% else %}
        <a href="{{ "/"|relative_url }}">
            <h1>{{ site.title }}</h1>
        </a>
        <div class="by-line">{{ site.tag_line }}</div>
    {% endif %}

</header>
