<div>
    <a href="{{ "/"|relative_url }}" title="{{ site.title }}">
        <img src="{{ "/assets/img/alex.png"|relative_url }}" height="80" class="mb-3 d-inline-block hvr-rotate" alt="{{ site.author.name }}">
    </a>
</div>

<code class="small mb-3">
    /* I am an experienced PHP web developer.
    Built a bitcoin exchange that helped thousands of users securely exchange millions of dollars worth of cryptocurrency. */
</code>

<ul class="list-inline mb-0">
    {% if site.social.github %}
        <li class="list-inline-item">
            <a href="https://github.com/{{ site.social.github }}" class="hvr-icon-push" target="_blank">
                <i class="fab fa-github-square fa-fw hvr-icon"></i>
                Follow
            </a>
        </li>
    {% endif %}
    {% if site.social.linkedin %}
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" class="hvr-icon-push" target="_blank">
                <i class="fab fa-linkedin fa-fw hvr-icon"></i>
                Connect
            </a>
        </li>
    {% endif %}
    {% if site.social.facebook %}
        <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.social.facebook }}" class="hvr-icon-push" target="_blank">
                <i class="fab fa-facebook-square fa-fw hvr-icon"></i>
                Be my friend
            </a>
        </li>
    {% endif %}
    {% if site.social.email %}
        <li class="list-inline-item">
            <a href="mailto:{{ site.social.email }}" class="hvr-icon-push">
                <i class="fas fa-envelope-square fa-fw hvr-icon"></i>
                Say hi
            </a>
        </li>
    {% endif %}
</ul>
