html, body {
  color: $gray-700;
  font-size: 1.05em;
}

a {
  color: $gray-900;
  font-weight: 900;

  &:hover {
    text-decoration: none;
    color: lighten($gray-900, 10);
  }
}

#content {
  max-width: 840px;

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

[class^="hvr-"]::before {
  background: $text-muted;
}

.github-corner {
  svg {
    fill: $dark !important;
  }
}