/*- Custom style -*/

// -- Put custom style under this point -- //

$main-color: #59a448;
$main-color-dark: darken($main-color, 15);
$main-color-bright: lighten($main-color, 15%);
$text-color: darken($main-color, 30);

html {
  color: $text-color;
}

a {
  color: $main-color;
  &:hover {
    color: $main-color-dark;
  }
}

h1, h2,
.h1, .h2 {
  color: $main-color-dark;
}

.list-inline {
  padding-left: 0 !important;
  li {
    display:inline;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1.5;
    white-space: nowrap;
    img {
      display: inline;
      margin-bottom: 0;
    }
  }
}

.color-main {
   color: $main-color !important;
}

.color-main-bright {
  color: $main-color-bright !important;
}

#wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  h1, .h1 {
    font-family: 'Signika', sans-serif; //Emerald logo font
    font-weight: 600;
  }
}

#nav {
  background-color: $text-color;
  footer {
    background-color: $text-color;
  }
}

.container {
  margin: 0 auto;
  max-width: 730px;
  padding: 0 1.5rem;
}

#footer {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-top: 64px;
  color: $background-color;
  background-color: $main-color;
  a, span {
    color: white;
  }
}

.github-corner {
  fill: $main-color;
}

@import "skills";